@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeVue imports */
@import 'primevue/resources/themes/lara-light-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
